# Dependencies
/node_modules
/.pnp
.pnp.js

# Build
/.next/
/out/
/build

# Env (nunca versionar segredos)
.env
.env*.local
/pgdata

# Debug / logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Misc
.DS_Store
*.pem
.vercel
